<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SessionDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>buy</servlet-name>
    <servlet-class>com.lvyang.Session.SessionBuy</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pay</servlet-name>
    <servlet-class>com.lvyang.Session.SessionPay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>shouye</servlet-name>
    <servlet-class>com.lvyang.Session.SeesionShouye</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log</servlet-name>
    <servlet-class>com.lvyang.SessionDemo.SessionLog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>submit</servlet-name>
    <servlet-class>com.lvyang.ReSubmit.SubmitDemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>random</servlet-name>
    <servlet-class>com.lvyang.ReSubmit.RandomId</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>random</servlet-name>
    <url-pattern>/random</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>submit</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>shouye</servlet-name>
    <url-pattern>/shouye</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pay</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>buy</servlet-name>
    <url-pattern>/buy</url-pattern>
  </servlet-mapping>
</web-app>